* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573a37;
}

body {
  background-color: #573824;
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  position: relative;
}

#page { 
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
}

.foto_banner { 
  border-radius: 16px;
}

section + section {
  margin-top: 24px;

}

main {
  padding: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 { 
  color: #291b1a;
  margin-top: 4px;
  line-height: 150%;
}

ul {
  margin-left: 27px;
  margin-top: 4px;
}

footer {
 text-align: center;
 color: #F0E8C2;  
 padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}
